apiVersion: v1
kind: Service
metadata:
  name: threat-api-svc
  labels:
    app: threat-api

spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  selector:
    app: threat-api
